@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-logo:before {
    content: "";
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    width: 5px;
    background-color: aqua;
}

.button {
    @apply select-none inline-flex justify-center py-3 px-5 border border-transparent rounded-md text-base font-medium transition;
}

.button-brand {
    @apply text-white bg-brand;
}

.button-brand-hollow {
    @apply text-brand hover:text-white  border-brand  bg-white  hover:bg-brand;
}
