@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/ppw4ugl.css");

body {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: #36e4ff;
}

.prepend-primary {
    position: relative;
}

.prepend-primary:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 100%;
    left: -12px;
    width: 6px;
    background: linear-gradient(143deg, #36e4ff 0%, #2cdfcd 100%);
}

.offeringIcon {
    @apply absolute text-gray-100;
    left: -30px;
    top: 100px;
    z-index: -10;
}

.huge-icon {
    @apply text-huge absolute text-gray-100;
    left: -30px;
    top: 100px;
    z-index: -10;
}

.mobile-icon {
    @apply text-large absolute text-gray-100;
    left: -30px;
    top: 100px;
    z-index: -10;
}

.text-gradient-primary {
    @apply text-transparent bg-clip-text;
    background-image: linear-gradient(143deg, #36e4ff 0%, #2cdfcd 100%);
}

/* .text-gradient-primary {
    
} */

.bg-gradient-primary {
    background: rgb(2, 0, 36);
    background: linear-gradient(143deg, #36e4ff 0%, #2cdfcd 100%);
    transition: all 1s;
}

.bg-gradient-dark {
    background: rgb(42, 42, 54);
    background: linear-gradient(
        162deg,
        rgba(42, 42, 54, 1) 0%,
        rgba(29, 29, 38, 1) 46%
    );
}

.svg-hover-gradient-primary * {
    fill: url(#greyGradient);
    transition: all 1s;
}

.svg-hover-gradient-primary:hover * {
    fill: url(#primaryGradient);
    transition: all 1s;
}

.svg-gradient-primary * {
    fill: url(#primaryGradient);
}

.svg-gradient-fire * {
    fill: url(#fireGradient);
}

.clip-slant-right {
    clip-path: polygon(0 0, 100% 70%, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
    .clip-slant-right {
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    }
}

.button {
    @apply select-none inline-flex justify-center py-2 px-8 border border-transparent rounded-md text-base font-bold transition;
}

.button-brand {
    @apply text-white bg-brand;
}

.text-shadow {
    text-shadow: 0 0 6px #090c3d45;
}

.button-brand-hollow {
    @apply text-white hover:text-dark  border-brand  bg-transparent  hover:bg-brand border-2;
}

.bg-stripe-1 {
    position: absolute;
    width: 30rem;
    height: 200vh;
    transform: rotate(35deg);
    background: rgb(29, 29, 38);
    background: linear-gradient(
        246deg,
        rgba(29, 29, 38, 1) 0%,
        rgba(29, 29, 38, 1) 34%,
        rgba(33, 33, 50, 1) 100%
    );
    top: -30rem;
    left: 10vw;
}

.bg-stripe-2 {
    position: absolute;
    width: 30rem;
    height: 200vh;
    transform: rotate(35deg);
    background: rgb(29, 29, 38);
    background: linear-gradient(
        314deg,
        rgba(29, 29, 38, 1) 0%,
        rgba(29, 29, 38, 1) 34%,
        rgba(33, 33, 50, 1) 100%
    );
    top: -40rem;
    right: -5rem;
}

.portfolioContainer {
    perspective: 5000px;
    max-height: 400px;
}

.portfolioImageContainer {
    transform: rotateZ(8deg) translateY(350px);
}

.portfolioImageContainer img {
    margin-bottom: 30px;
}
